
.border_first {
    border: double 3px red
}

.secondBorder {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: red;
}

.thirdBorder {
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    border-radius: 5px;
}

.fourthBorder {
    border-left-style: solid;
    border-left-width: 5px;
    border-color: blue;
    background-color: skyblue;
}